<page-header [breadcrumb]="breadcrumb">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">首页</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>系统管理</nz-breadcrumb-item>
      <nz-breadcrumb-item>教师管理</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
</page-header>

<div nz-row>
  <div nz-col [nzSpan]="24">
    <nz-card nzTitle="教师表单" [nzBordered]="false">
      <!-- form list -->
      <form nz-form [nzLayout]="'inline'" (ngSubmit)="select()">
        <div nz-row style="width: 100%;">
          <div nz-col [nzSpan]="5">
            <nz-form-item>
              <nz-form-label nzFor="teacherId">工号</nz-form-label>
              <nz-form-control>
                <input nz-input name="teacherId" placeholder="请输入工号" id="teacherId" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="5">
            <nz-form-item>
              <nz-form-label nzFor="name">姓名</nz-form-label>
              <nz-form-control>
                <input nz-input name="name" placeholder="请输入姓名" id="name" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="5">
            <nz-form-item>
              <nz-form-label nzFor="department">院系</nz-form-label>
              <nz-form-control>
                <input nz-input name="department" placeholder="请输入院系" id="department" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <nz-form-item>
            <nz-form-control>
              <button nz-button [nzType]="'primary'">查询</button>
              <button nz-button (click)="reset($event)">重置</button>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-row>
          <div nz-col nzSpan="16">
            <button nz-button [nzType]="'primary'" (click)="add($event); teacherForm.reset()">
              <i nz-icon nzType="plus"></i>
              <span>添加</span>
            </button>
          </div>
        </div>
      </form>
      <nz-divider></nz-divider>
      <!-- table list -->
      <nz-table style="margin-top: 15px;" #basicTable nzSize="middle" [nzShowTotal]="totalTemplate"
        [nzData]="listOfData" [nzLoading]="loading">
        <thead>
          <tr>
            <th>序号</th>
            <th>工号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>出生日期</th>
            <th>最高学历</th>
            <th>电话</th>
            <th>职称</th>
            <th>职务</th>
            <th>所属院系</th>
            <th>密码</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data, let i = index;">
            <td>{{ i + 1 }}</td>
            <td>{{ data.id }}</td>
            <td>{{ data.name }}</td>
            <td>
              <nz-tag [nzColor]="data.gender === 1?'cyan':'volcano'">{{ data.gender === 1?'男':'女' }}</nz-tag>
            </td>
            <td>{{ data.birthday | date:'yyyy-MM-dd' }}</td>
            <td>
              {{ data.education === 1?'研究生':data.education === 2?'博士':data.education === 3?'博士后':data.education === 4?'博士后':'' }}
            </td>
            <td>{{ data.phone }}</td>
            <td>{{ data.title }}</td>
            <td>
              <nz-tag *ngIf="data.post" [nzColor]="'gold'">{{ data.post }}</nz-tag>
            </td>
            <td>{{ data.department }}</td>
            <td>{{ data.password }}</td>
            <td>
              <a (click)="modify(data)">修改</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a nz-popconfirm nzPopconfirmTitle="确认删除吗?" nzOkText="确定" nzCancelText="取消" (nzOnConfirm)="confirm(data)"
                [nzIcon]="iconTpl" (nzOnCancel)="cancel()">删除</a>
              <ng-template #iconTpl>
                <i nz-icon nzType="question-circle-o" style="color: red;"></i>
              </ng-template>
            </td>
          </tr>
        </tbody>
        <ng-template #totalTemplate let-total>显示1-10项，总共3页</ng-template>
      </nz-table>
    </nz-card>
  </div>
</div>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }" [nzWidth]="720"
  [nzVisible]="visible" [nzTitle]="drawerTitle" (nzOnClose)="close(); teacherForm.reset()">
  <form nz-form #teacherForm="ngForm" (ngSubmit)="createUser(teacherForm.value,teacherForm.valid,teacherForm)">
    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzRequired>工号</nz-form-label>
      <nz-form-control nzHasFeedback [nzSpan]="24" nzErrorTip="教师工号必填">
        <input nz-input [(ngModel)]="Teacher.id" placeholder="请输入工号" name="id" required />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzRequired>姓名</nz-form-label>
      <nz-form-control nzHasFeedback [nzSpan]="24" nzErrorTip="教师姓名必填">
        <input nz-input [(ngModel)]="Teacher.name" placeholder="请输入姓名" name="name" required />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzRequired>性别</nz-form-label>
      <nz-form-control nzHasFeedback [nzSpan]="24" nzErrorTip="教师性别必填">
        <nz-select [(ngModel)]="Teacher.gender" nzPlaceHolder="请选择性别" name="gender" required>
          <nz-option [nzValue]="1" nzLabel="男"></nz-option>
          <nz-option [nzValue]="2" nzLabel="女"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="5">出生日期</nz-form-label>
      <nz-form-control nzHasFeedback [nzSpan]="24">
        <nz-date-picker [(ngModel)]="Teacher.birthday" name="birthday"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzRequired>身份证号</nz-form-label>
      <nz-form-control nzHasFeedback [nzSpan]="24" [nzErrorTip]="combineTpl">
        <input nz-input [(ngModel)]="Teacher.pid" placeholder="请输入身份证号" name="pid" minlength="18" maxlength="18"
          pattern="^[0-9]*$" required />
        <ng-template #combineTpl let-control>
          <ng-container *ngIf="control.hasError('maxlength')">教师身份证号错误</ng-container>
          <ng-container *ngIf="control.hasError('minlength')">教师身份证号错误</ng-container>
          <ng-container *ngIf="control.hasError('required')">教师身份证号必填</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="5">最高学历</nz-form-label>
      <nz-form-control nzHasFeedback [nzSpan]="24">
        <nz-select [(ngModel)]="Teacher.education" nzPlaceHolder="请选择最高学历" name="education">
          <nz-option [nzValue]="1" nzLabel="研究生"></nz-option>
          <nz-option [nzValue]="2" nzLabel="博士"></nz-option>
          <nz-option [nzValue]="3" nzLabel="博士后"></nz-option>
          <nz-option [nzValue]="4" nzLabel="博士后以上"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="5">电话</nz-form-label>
      <nz-form-control nzHasFeedback [nzSpan]="24" nzErrorTip="电话错误">
        <input nz-input [(ngModel)]="Teacher.phone" placeholder="请输入电话" name="phone" minlength="11" maxlength="11"
          pattern="^[0-9]*$" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="5">职称</nz-form-label>
      <nz-form-control nzHasFeedback [nzSpan]="24">
        <nz-select [(ngModel)]="Teacher.title" nzPlaceHolder="请选择职称" name="title">
          <nz-option nzValue="中级" nzLabel="中级"></nz-option>
          <nz-option nzValue="副高级" nzLabel="副高级"></nz-option>
          <nz-option nzValue="高级" nzLabel="高级"></nz-option>
          <nz-option nzValue="正高级" nzLabel="正高级"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="5">职务</nz-form-label>
      <nz-form-control nzHasFeedback [nzSpan]="24">
        <nz-select [(ngModel)]="Teacher.post" nzPlaceHolder="请选择职务" name="post">
          <nz-option nzValue="院（系）教务人员" nzLabel="院（系）教务人员"></nz-option>
          <nz-option nzValue="教师" nzLabel="教师"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzRequired>所属院系</nz-form-label>
      <nz-form-control nzHasFeedback [nzSpan]="24" nzErrorTip="教师所属院系必填">
        <nz-select [(ngModel)]="Teacher.department" nzPlaceHolder="请选择院系" name="department" required>
          <nz-option nzValue="理学院" nzLabel="理学院"></nz-option>
          <nz-option nzValue="文学院" nzLabel="文学院"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzRequired>密码</nz-form-label>
      <nz-form-control nzHasFeedback [nzSpan]="24" nzErrorTip="密码必填">
        <input nz-input [(ngModel)]="Teacher.password" placeholder="请输入密码" name="password" required />
      </nz-form-control>
    </nz-form-item>
    <div class="footer">
      <button type="button" (click)="close()" class="ant-btn" style="margin-right: 8px;"><span>取消</span></button>
      <button type="submit" *ngIf="!isEdit" class="ant-btn ant-btn-primary"><span>提交</span></button>
      <button type="button" *ngIf="isEdit" (click)="edit()" class="ant-btn ant-btn-primary"><span>修改</span></button>
    </div>
  </form>
</nz-drawer>
